.sidebar-nav-fixed {
  position:fixed;
  top:60px;
  width:7.5%;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position:static;
    width:auto;
  }
}

@media (max-width: 979px) {
  .sidebar-nav-fixed {
    top:70px;
  }
}
