.sidebar-nav-fixed {
  position:fixed;
  top:10px;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position:static;
    width:auto;
  }
}

@media (max-width: 979px) {
  .sidebar-nav-fixed {
    top:10px;
  }
}
