{% extends "base.html" %}
{% block content %}
<div>
  <style>
    #about-txt {
      z-index: 100;
      position: fixed;
      color: white;
      left: 60%;
      top: 30%;
      background: rgba(0,0,0,.7);
      padding: 10px;
    }
  </style>
  <div id="about-txt">
    <h3>Patrick Huck <small>Berkeley, CA</small></h3>
    Graduate Student Research Assistant in the
    <a href="http://rnc.lbl.gov/~xdong/SoftHadron/members.html">Relativistic
      Heavy Ion Collisions Group</a> at the Nuclear Science Division of
    <a href="http://www.lbl.gov/">Lawrence Berkeley National Laboratory</a>
    <ul class="inline" style="margin: 5px;">
      <li><a href="http://www.facebook.com/tschaume"><i class="icon-facebook-sign icon-large"></i></a></li>
      <li><a href="http://google.com/+PatrickHuck"><i class="icon-google-plus-sign icon-large"></i></a></li>
      <li><a href="https://github.com/tschaume"><i class="icon-github icon-large"></i></a></li>
      <li><a href="http://www.linkedin.com/in/tschaume/"><i class="icon-linkedin icon-large"></i></a></li>
      <li><a href="http://www.speakerdeck.com/tschaume"><img src="/static/img/speakerdeck-16x16.png"></a></li>
    </ul>
  </div>
</div>
{% endblock %}
