<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{title}} @ the-huck.com</title>
    {% else %}
    <title>the-huck.com</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="/static/css/magic-bootstrap.css" rel="stylesheet" media="screen">-->
    <link href="/static/css/sidebar-nav-fixed.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143500795820733";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well span2 sidebar-nav-fixed" style="padding: 10px 0;">
          <span class="label" style="padding: 5px">Patrick Huck</span>
          <ul class="nav nav-list"> <!--nav-pills nav-stacked -->
            <li class="nav-header"><h5>the-huck.com</h5></li>
            {%- for endpoint, icon, caption in [
            ('index', 'icon-home', 'Blog'),
            ('about', 'icon-user', 'About'),
            ('news', 'icon-globe', 'News'),
            ('science', 'icon-laptop', 'Science'),
            ('tweets', 'icon-twitter', 'Tweets'),
            ('repos', 'icon-github', 'Repos'),
            ('archive', 'icon-book', 'Archive')
            ] %}
            <li{% if endpoint == request.endpoint %} class="active"{% endif %}>
            <a href={{ url_for(endpoint) }}><i class={{icon}}></i> {{caption}}</a>
            </li>
            {% endfor %}
            <li><a href="#top"><i class="icon-double-angle-up"></i> Top of Page</a></li>
          </ul>
        </div>
        <div class="span7 offset2">
          <a name="top"></a>
          {% block content %}{% endblock %}
        </div>
        <div class="span2 offset9 sidebar-nav-fixed">
          <ul class="inline">
            <li style="margin: 0 -15px 0 -10px;"><a href="http://www.facebook.com/tschaume"><i class="icon-facebook-sign icon-large"></i></a></li>
            <li style="margin: 0 -15px 0 0;"><a href="https://github.com/tschaume"><i class="icon-github icon-large"></i></a></li>
            <li style="margin: 0 -15px 0 0;"><a href="http://www.linkedin.com/in/tschaume/"><i class="icon-linkedin icon-large"></i></a></li>
            <li style="margin: 0 -15px 0 0;"><a href="http://www.speakerdeck.com/tschaume"><img src="/static/img/speakerdeck-16x16.png"></a></li>
          </ul>
          <ul class="unstyled">
            <li style="margin: 0 0 10px 0;"><a href="http://www.linode.com/?r=f3c546497390d4682d2a101790d27ad325dcae21"><img src="http://www.linode.com/images/pr/linode_logo2.png" width=80></a></li>
            <li style="margin: 0 10px 0 0;"><a href="https://twitter.com/share" class="twitter-share-button" data-via="tschaume" data-hashtags="the-huck.com" data-dnt="true">Tweet</a></li>
            <li style="margin: 0 10px 0 0;"><div class="fb-like" data-href="http://the-huck.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
          </ul>
        </div>
        <div class="span1 offset11">
        </div>
      </div>
  </body>
</html>
