{% extends "base.html" %}
{% block content %}
<div>
  <dl class="dl-horizontal">
    <dt><a href="http://today.lbl.gov/2013/05/02/winning-apps-from-berkeley-cleanweb-hackathon-announced/">Today at Berkeley Lab</a></dt>
    <dd><small>Thermostatly's win featured in the Lawrence Berkeley National Laborotary's daily news</small></dd>
    <dt><a href="http://berc.berkeley.edu/twitterthermostat-mashup-takes-top-prize-at-berkeley-cleanweb-hackathon/">BERC</a></dt>
    <dd><small>Thermostatly's win announced at Berkeley Energy and Resources Collaborative</small></dd>
    <dt><a href="http://www.tv-neuhausen.de/handball-buli/sites/archiv/2003/presse/pressearchiv.php?article=2004_04_03">Handball 2004</a></dt>
    <dd><small>mentioned in local German newspaper for goalkeeper performance</small></dd>
  </dl>
</div>
{% endblock %}
