{% extends "base.html" %}
{% block content %}
<div>
  <dl class="dl-horizontal">
    <dt><a href="http://rnc.lbl.gov/~xdong/RNC/DirectorReview2012/posters/Huck.pdf">NSD Review</a></dt>
    <dd><small>poster presentation about my graduate research at LBNL Nuclear Science Director's Review (pdf)</small></dd>
    <dt><a href="https://commons.lbl.gov/download/attachments/76185934/NSD+Newsletter_September+2012v2.pdf?version=1&modificationDate=1351881426987">NSD Newsletter</a></dt>
    <dd><small>LBNL Nuclear Science Division Newsletter featuring my results presented at the Quark Matter Conference 2012 in Washington, D.C. (pdf)</small></dd>
    <dt><a href="http://drupal.star.bnl.gov/STAR/files/QM2012_Poster_Huck_Approved.pdf">QM 2012</a></dt>
    <dd><small>Poster Presentation at Quark Matter Conference 2012 in Washington, D.C. (pdf)</small></dd>
    <dt><a href="http://drupal.star.bnl.gov/STAR/files/12-12-06_ThermalRadiationBNL.pdf">RBRC TRW 2012</a></dt>
    <dd><small>RBRC Thermal Radiation Workshop at Brookhaven National Laboratory (pdf)</small></dd>
    <dt><a href="http://www.mpa-garching.mpg.de/lectures/ADSEM/WS0708_Huck.pdf">Nuclei and the Cosmos</a></dt>
    <dd><small>Seminar Talk about Gamma Ray Bursts, TU Munich (pdf)</small></dd>
    <dt><a href="http://conf.ccnu.edu.cn/~schoolnp2011/timetable.html">SCHOOLNP 2011</a></dt>
    <dd><small>International School for High-Energy Nuclear Collisions, CCNU, Wuhan, China (pdf)</small></dd>
    <dt><a href="http://drupal.star.bnl.gov/STAR/files/DpgSpringMeeting_11-03-22_final_2.pdf">DPG Spring Mtg 2011</a></dt>
    <dd><small>Dielectron Production at Spring Meeting of German Physical Society (pdf)</small></dd>
    <dt><a href="http://drupal.star.bnl.gov/STAR/files/11-11-10_CPODWorkshop.pdf">CPOD Workshop 2011</a></dt>
    <dd><small>Critical Point and Onset of Deconfinement, CCNU Wuhan, China (pdf)</small></dd>
    <dt><a href="http://drupal.star.bnl.gov/STAR/comp/org/">Embedding Deputy</a></dt>
    <dd><small>STAR Embedding Deputy</small></dd>
    <dt><a href="http://indico.cern.ch/contributionDisplay.py?contribId=236&confId=30248">QM 2011</a></dt>
    <dd><small>Quark Matter 2011, Annecy, France</small></dd>
    <dt><a href="https://speakerdeck.com/tschaume/organize-root-analyses-with-autoconf">Automake/Autoconf</a></dt>
    <dd><small>ROOT Analyses with Automake/Autoconf, LBNL, USA</small></dd>
    <dt><a href="http://indico.cern.ch/getFile.py/access?contribId=268&sessionId=10&resId=0&materialId=slides&confId=181055">QM 2012</a></dt>
    <dd><small>Results presented in Parallel Session, Washington D.C.</small></dd>
  </dl>
</div>
{% endblock %}
